<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Filter Not Found">
		<classes>
			<class name="test.FilterItemFound">
				<methods>
					<include name="filterFound" />
				</methods>
			</class>
			<class name="test.FilterItemNotFound">
				<methods>
					<include name="filterNotFound" />
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
